<h1>Manage Users</h1>

<% @users.each do |user| %>
  <li><%= user.email %> | <%= user.admin %> <%= form_for user do |f| %><%=f.hidden_field :admin, :value => !user.admin %> <%= f.submit "Toggle Admin", :class=>"btn btn-success" %><% end %></li>
<% end %>
